<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<div id="app">
    <h3>记事本</h3>
    <input v-model="todoName" >
    <button @click="add ">添加任务</button>
    <ul>
        <li v-for="(item,index) in list" :key>
            <div>
                <span>{{index+1}}</span><span>{{item.name}}</span>
                <button @click="del(item.id)">X</button>
            </div>
        </li>
        <li v-show="list.length>0"><span>合计:{{list.length}}</span><button @click="clear">清空</button></li>
    </ul>
</div>


<script>

    const vue = new Vue({
        el: '#app',
        data: {
            todoName:"",
            list: [
                {id: 1, name: "抽烟"},
                {id: 2, name: "喝酒"},
                {id: 3, name: "烫头"}
            ]

        },
        methods: {
            del(id) {
                this.list = this.list.filter(item => item.id !== id)
            },
            add(){
                if(this.todoName.trim()==''){
                    alert("添加内容为空")
                    return
                }
                this.list.unshift({
                    id:new Date(),
                    name:this.todoName
                })
                this.todoName=""
            },
            clear(){
                this.list=[]
            }


        }
    })
</script>
</body>
</html>