<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<div id="app">


    <p v-if="gender==1">男</p>
    <p v-else>女</p>
    <p v-if="score>90">成绩评定A:奖励电脑一台</p>
    <p v-else-if="score>80">成绩评定B:奖励周末郊游</p>
    <p v-else-if="score>70">成绩评定C：奖励零食礼包</p>
    <p v-else>成绩评定D：惩罚一周不能玩手机</p>
</div>


<script>

    const vue = new Vue({
        //通过el配置选择器，指定Vue管理那个盒子
        el: '#app',
        //通过data提供数据
        data: {gender:2,score:80}
    })
</script>



</body>
</html>